body {
    background: rgb(83, 121, 186);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(65, 86, 127);
}

select{
    width: 150px;
    margin-bottom: 50px;
}

input#finalizar{
    align-items: flex-start;
    text-align: center;
    background-color: rgba(223, 86, 127, 0.861);
    margin-left: 0px;
    font: caption;

    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}